<!-- contact
================================================== -->
<section id="contact">

     <div class="row section-intro">
        <div class="col-twelve">

             <h5>Contact</h5>
             <h1>I'd Love To Hear From You.</h1>

        </div> 
   </div> <!-- /section-intro -->

   <div class="row contact-form">

        <div class="col-twelve">

       <!-- form -->
       <form name="contactForm" id="contactForm" method="POST" action="">
          {% csrf_token %}
                <fieldset>

                    {{ form }}
          <div class="form-field">
                <button class="submitform">Submit</button>
                <div id="submit-loader">
                   <div class="text-loader">Sending...</div>                             
                            <div class="s-loader">
                                          <div class="bounce1"></div>
                                          <div class="bounce2"></div>
                                          <div class="bounce3"></div>
                                   </div>
                              </div>
             </div>

                </fieldset>
           </form> <!-- Form End -->

       <!-- contact-warning -->
       <div id="message-warning">            	
       </div>            
       <!-- contact-success -->
           <div id="message-success">
          <i class="fa fa-check"></i>Your message was sent, thank you!<br>
           </div>

    </div> <!-- /col-twelve -->
        
   </div> <!-- /contact-form -->

   {% for home in object_list %}
   <div class="row contact-info">

        <div class="col-four tab-full">

             <div class="icon">
                  <i class="icon-pin"></i>
             </div>

             <h5>Where to find me</h5>

             <p>
      {{ home.location }}
       </p>

        </div>

        <div class="col-four tab-full collapse">

             <div class="icon">
                  <i class="icon-mail"></i>
             </div>

             <h5>Email Me At</h5>

             <p>{{ home.email }}
             </p>

        </div>

        <div class="col-four tab-full">

             <div class="icon">
                  <i class="icon-phone"></i>
             </div>

             <h5>Call Me At</h5>

             <p>Phone: <a href="{{ home.phone_call }}">+2348057691197</a><br>
                  Whatsapp: <a href="{{ home.whatsapp_call }}" type="tel">+2349020700625</a><br>
             </p>

        </div>
        
   </div> <!-- /contact-info -->
        
   {% endfor %}

</section> <!-- /contact -->
